<launch>
		<node name="flight_controller" pkg="tiltrotor_drone" type="flight_control_exe" output="screen">
		<param name="node_rate" value="50.0"/>
		<param name="drone_name" value="iris_tiltrotor"/>
		<param name="kp_xy" value="1.3"/>
		<param name="ki_xy" value="0.1"/>
		<param name="kd_xy" value="0.02"/>
		<param name="kp_z" value="2.0"/>
		<param name="ki_z" value="0.0"/>
		<param name="kd_z" value="0.2"/>
		<param name="lim_uxy" value="1.0"/>
		<param name="lim_uz" value="1.0"/>
	</node>
</launch>
